:host {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 8px;
}
.calendar {
  width: 150px;
  height: max-content;
  min-width: 150px;
  max-width: 150px;
}
.calendar_1 {
  width: 320px;
  height: max-content;
  min-width: 320px;
  max-width: 320px;
}
.calendar_2 {
  width: 450px;
  height: max-content;
  min-width: 450px;
  max-width: 450px;
}
.calendar_3 {
  width: max-content;
  height: max-content;
  flex-grow: 1;
  flex-basis: 0;
}
